<!-- Main navigation container -->
<nav
  class="flex-no-wrap w-full items-center justify-between bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 py-3 shadow-lg shadow-black/20 dark:bg-neutral-700 dark:shadow-black/10 lg:flex-wrap lg:justify-start lg:py-4 transition-all duration-300"
>
  <div class="flex w-full flex-wrap items-center justify-between px-6">
    <!-- Hamburger button for mobile view -->
    <button
      class="block border-0 bg-transparent px-2 text-neutral-200 hover:text-white hover:shadow-lg focus:outline-none focus:ring-0 dark:text-neutral-200 dark:hover:text-white lg:hidden"
      type="button"
      data-te-collapse-init
      data-te-target="#navbarSupportedContent1"
      aria-controls="navbarSupportedContent1"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <!-- Hamburger icon -->
      <span class="[&>svg]:w-7">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-7 w-7 transition-all duration-300"
        >
          <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
    </button>

    <!-- Collapsible navigation container -->
    <div
      class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto"
      id="navbarSupportedContent1"
      data-te-collapse-item
    >
      <!-- Logo -->
      <a
        class="mb-4 ml-2 mr-5 mt-3 flex items-center text-2xl font-bold text-blue-600 hover:text-blue-800 focus:text-blue-800 dark:text-blue-300 dark:hover:text-blue-400 dark:focus:text-blue-400 lg:mb-0 lg:mt-0 transition-all duration-300"
        href="#"
      >
        <h2
          class="bg-gradient-to-r from-pink-500 via-pink-500 to-pink-500 bg-clip-text text-transparent"
        >
          My Travel App
        </h2>
      </a>

      <!-- Left navigation links -->
      <ul
        class="list-style-none mr-auto flex flex-col pl-0 lg:flex-row"
        data-te-navbar-nav-ref
      >
        <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
          <!-- Dashboard link -->
          <a
            class="hidden-arrow mr-4 flex items-center text-neutral-200 transition duration-300 hover:text-white focus:text-white dark:text-neutral-200 dark:hover:text-white dark:focus:text-neutral-400"
            href="javascript:void(0)"
            (click)="navigateToDashboard()"
            >Dashboard</a
          >
        </li>
      </ul>
    </div>

    <!-- Right elements -->
    <div class="relative flex items-center">
      <div
        *ngIf="!isAuthenticated()"
        class="relative"
        data-te-dropdown-ref
        data-te-dropdown-alignment="end"
      >
        <a
          class="hidden-arrow mr-4 flex items-center text-neutral-200 transition duration-300 hover:text-white focus:text-white dark:text-neutral-200 dark:hover:text-white dark:focus:text-neutral-400"
          routerLink="/login"
          id="dropdownMenuButton1"
          role="button"
          data-te-dropdown-toggle-ref
          aria-expanded="false"
          >Login</a
        >
      </div>
      <div
        *ngIf="!isAuthenticated()"
        class="relative"
        data-te-dropdown-ref
        data-te-dropdown-alignment="end"
      >
        <a
          class="hidden-arrow mr-4 flex items-center text-neutral-200 transition duration-300 hover:text-white focus:text-white dark:text-neutral-200 dark:hover:text-white dark:focus:text-neutral-400"
          routerLink="/register"
          id="dropdownMenuButton1"
          role="button"
          data-te-dropdown-toggle-ref
          aria-expanded="false"
          >Register</a
        >
      </div>

      <!-- Second dropdown container -->
      <div
        class="relative"
        data-te-dropdown-ref
        data-te-dropdown-alignment="end"
      >
        <!-- Second dropdown trigger -->
        <a
          class="hidden-arrow flex items-center whitespace-nowrap transition duration-300 ease-in-out motion-reduce:transition-none hover:bg-neutral-100 dark:hover:bg-neutral-700 rounded-full p-2"
          href="#"
          id="dropdownMenuButton2"
          role="button"
          data-te-dropdown-toggle-ref
          aria-expanded="false"
        >
          <!-- User avatar -->
          <img
            src="https://static.vecteezy.com/system/resources/thumbnails/005/129/844/small/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg"
            class="rounded-full border-2 border-white"
            style="height: 35px; width: 35px"
            alt=""
            loading="lazy"
          />
        </a>

        <!-- Second dropdown menu -->
        <ul
          class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-800 [&[data-te-dropdown-show]]:block transition-all duration-200 ease-in-out"
          aria-labelledby="dropdownMenuButton2"
          data-te-dropdown-menu-ref
          *ngIf="isAuthenticated()"
        >
          <!-- Second dropdown menu items -->
          <li>
            <a
              routerLink="/profile"
              class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
              href="#"
              data-te-dropdown-item-ref
              >{{ fullname }}</a
            >
          </li>
          <li>
            <a
              routerLink="/profile"
              class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
              href="#"
              data-te-dropdown-item-ref
              >Profile</a
            >
          </li>
          <li>
            <a
              class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
              (click)="logoutUser()"
              data-te-dropdown-item-ref
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
